WorleyNoise/bin/Windows/x86/Debug/SharpDX.Direct2D1.xml
WorleyNoise/bin/Windows/x86/Debug/SharpDX.Direct3D11.xml
WorleyNoise/bin/Windows/x86/Debug/SharpDX.DXGI.xml
WorleyNoise/bin/Windows/x86/Debug/SharpDX.MediaFoundation.xml
WorleyNoise/bin/Windows/x86/Debug/SharpDX.XAudio2.xml
WorleyNoise/bin/Windows/x86/Debug/SharpDX.XInput.xml
WorleyNoise/bin/Windows/x86/Debug/SharpDX.xml
